body {
  background-color: biege;
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 5%;
  word-wrap: break-word;
}

.logo {
  width: 250px;
  height: 250px;
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid black;
  padding: 5%;
  margin: 2%;
}

.Transaction {
  padding: 5%;
}

a, a:hover {
  color: rgb(139, 0, 0);
  text-decoration: underline;
}

.blockButton {
  color: white;
  background-color: rgb(139, 0, 0);
}